<div ng-controller="HomeController as HomeCtrl">
    <div drag-circular-menu
         angle="30"
         placement="topRight"
         button-config="homeScope.menuConfig"
         menu-items="homeScope.menuItems"
         default-open="false"
         onwing-click="HomeCtrl.onWingClick(wing)">
    </div>
</div>
<h1>This is About</h1>

<h4>Indeterminate</h4>

<div layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>