<div class="container">
    <md-content class="md-padding">
        <md-tabs md-dynamic-height md-stretch-tabs>
            <md-tab>
                <md-tab-label>
                    <div class="tab-label">
                        <i class="material-icons">insert_chart</i>
                        <span>Reports</span>
                    </div>
                </md-tab-label>
                <md-tab-body>
                    <div class="md-padding" ng-include="'/app/views/templates/reports-template.html'"></div>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    <div class="tab-label">
                        <i class="material-icons">wifi</i>
                        <span>Sensors</span>
                    </div>
                </md-tab-label>
                <md-tab-body>
                    <div class="md-padding" ng-include="'/app/views/templates/sensors-template.html'"></div>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    <div class="tab-label">
                        <i class="material-icons">person</i>
                        <span>Users</span>
                    </div>
                </md-tab-label>
                <md-tab-body>
                    <div class="md-padding" ng-include="'/app/views/templates/users-template.html'"></div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-content>
</div>



<!--<uib-tabset  active="active">
    <uib-tab index="0" heading="Reports">
        <div class="md-padding" ng-include="'/app/views/templates/reports-template.html'"></div>
    </uib-tab>
    <uib-tab index="0" heading="Sensors">
        <div class="md-padding" ng-include="'/app/views/templates/sensors-template.html'"></div>
    </uib-tab>
    <uib-tab index="0" heading="Users">
        <div class="md-padding" ng-include="'/app/views/templates/users-template.html'"></div>
    </uib-tab>
</uib-tabset>-->