<md-toolbar style="min-height: 48px; height: 48px;">
    <div layout="row" layout-align="space-between center" class="md-toolbar-tools">
        <a ng-href="/home" style="text-decoration:none">
            <span class="md-headline" style="color:white">Flux</span>
        </a>
        <div layout="row">
            <md-button ng-click="HomeCtrl.goTo('admin')" class="md-mini md-icon-button" style="display:inline-block; color:white">
                <i class="material-icons">settings</i>
            </md-button>
            <md-button ng-click="HomeCtrl.goTo('profile')" class="md-mini md-icon-button" style="display:inline-block; color:white">
                <i class="material-icons">person</i>
            </md-button>
        </div>
    </div>
</md-toolbar>

<ng-include hide-xs  hide-sm class="left-pane" src="'/app/views/templates/home-panel-pc-template.html'" />

<div id="home-panel" layout-xs="column" layout-sm="column" layout-align-xs="start stretch" layout-align-sm="start stretch" class="admin-panel">
    <ts-google-map flex-xs="33" flex-sm="33" class="mobile-map-holder" currentLocation="scope.currentLocation" sensors="homeScope.sensors" set-location-click="HomeCtrl.setLocation()" />
    <ng-include flex-xs="66" flex-sm="66" hide show-xs show-sm class="sensors-wrapper" src="'/app/views/templates/home-panel-mobile-template.html'" />
</div>


