
<md-content style="width:auto; height:auto">
    <md-button class="login-button" ng-click="LoginCtrl.SignIn()" aria-label="Sign in with Google">
        <img src="/app/images/btn_google_signin_dark_normal_web.png" />
    </md-button>

    <br />
    Click the login button to log in with Google. After the popu closes, click the home button below
    <br />
    <br />
    <br />
    <a class="md-button md-raised md-primary login-button" href="home" aria-label="Home">
        home
    </a>
    <!--<button ng-click="LoginCtrl.Signout()">Google Signout</button>-->
</md-content>