<!--Flow Rate Template-->
<!--<div ng-include="'/app/views/templates/raw-flow-rate-template.html'"></div>-->

<h4 style="align-content:center; text-align:center">Mara River Flow Rate</h4>

<div class="row">
    <div class="col-md-3">
        <strong>Channel Data</strong>
        <hr />
        <br />
        <div class="bg-info" style="padding:12px">
            <div>
                <strong>Name: </strong>
                <br /> {{flowRateScope.maraRiverFlowRate.channel.name}}
            </div>
            <div>
                <strong>Description: </strong>
                <br /> {{flowRateScope.maraRiverFlowRate.channel.description}}
            </div>
            <div>
                <strong>Latitude: </strong>
                <br /> {{flowRateScope.maraRiverFlowRate.channel.latitude}}
            </div>
            <div>
                <strong>Longitude: </strong>
                <br /> {{flowRateScope.maraRiverFlowRate.channel.longitude}}
            </div>
            <div>
                <strong>Field 1: </strong>
                <br /> {{flowRateScope.maraRiverFlowRate.channel.field1}}
            </div>
            <div>
                <strong>Field 2: </strong>
                <br /> {{flowRateScope.maraRiverFlowRate.channel.field2}}
            </div>
            <div>
                <strong>Field 3: </strong>
                <br /> {{flowRateScope.maraRiverFlowRate.channel.field3}}
            </div>
            <div>
                <strong>Created At: </strong>
                <br /> {{flowRateScope.maraRiverFlowRate.channel.created_at}}
            </div>
            <div>
                <strong>Updated At: </strong>
                <br /> {{flowRateScope.maraRiverFlowRate.channel.updated_at}}
            </div>
            <div>
                <strong>Elevation: </strong>
                <br /> {{flowRateScope.maraRiverFlowRate.channel.elevation}}
            </div>
            <div>
                <strong>Last Entry ID: </strong>
                <br /> {{flowRateScope.maraRiverFlowRate.channel.last_entry_id}}
            </div>
        </div>
        <hr />

        <!-- Trigger the modal with a button -->
        <button ui-sref="home" type="button" class="btn btn-info btn-lg">Map</button>

    </div>

    <div class="col-md-9">
        <table id="feedstable" class="table table-striped table-bordered table-hover" style="width: 1000px; height:300px;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Entry Id</th>
                    <th>Date Created</th>
                    <th>Field 1</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="feed in flowRateScope.maraRiverFlowRate.feeds | limitTo:15">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ feed.entry_id }}</td>
                    <td>{{ feed.created_at }}</td>
                    <td>{{ feed.field1 }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

