<!--Flow Rate Template-->
<!--<div ng-include="'/app/views/templates/raw-flow-rate-template.html'"></div>-->

<div>

    <h4 style="align-content:center; text-align:center">Mara River Flow Rate</h4>

    <div class="row">
        <div class="col-md-2">
            <strong>Channel Data</strong>
            <hr />
            <br />
            <div class="bg-info" style="padding:12px">
                <div>
                    <strong>Name: </strong>
                    <br /> {{flowRateScope.channel.name}}
                </div>
                <div>
                    <strong>Description: </strong>
                    <br /> {{flowRateScope.channel.description}}
                </div>
                <div>
                    <strong>Latitude: </strong>
                    <br /> {{flowRateScope.channel.latitude}}
                </div>
                <div>
                    <strong>Longitude: </strong>
                    <br /> {{flowRateScope.channel.longitude}}
                </div>
                <div>
                    <strong>Field 1: </strong>
                    <br /> {{flowRateScope.channel.field1}}
                </div>
                <div>
                    <strong>Field 2: </strong>
                    <br /> {{flowRateScope.channel.field2}}
                </div>
                <div>
                    <strong>Field 3: </strong>
                    <br /> {{flowRateScope.channel.field3}}
                </div>
                <div>
                    <strong>Created At: </strong>
                    <br /> {{flowRateScope.channel.created_at}}
                </div>
                <div>
                    <strong>Updated At: </strong>
                    <br /> {{flowRateScope.channel.updated_at}}
                </div>
                <div>
                    <strong>Elevation: </strong>
                    <br /> {{flowRateScope.channel.elevation}}
                </div>
                <div>
                    <strong>Last Entry ID: </strong>
                    <br /> {{flowRateScope.channel.last_entry_id}}
                </div>
            </div>
            <hr />
            <!-- Trigger the modal with a button -->
            <button ng-click="flowRateCtrl.openReorderDialog()" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#reorderingModal">Reorder Items</button>

        </div>

        <div class="col-md-10">
            <table id="feedstable" class="table table-striped table-bordered table-hover" style="width: 1000px; height:300px;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Entry Id</th>
                        <th>Date Created</th>
                        <th>Field 1</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="feed in flowRateScope.feeds | limitTo:15">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ feed.entry_id }}</td>
                        <td>{{ feed.created_at }}</td>
                        <td>{{ feed.field1 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div id="reorderingModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Reorder Feeds</h4>
                </div>
                <div class="modal-body">
                    <div class="list-group-item list-group-item-success" style="height:40px; margin-bottom:12px;">
                        <span class="pull-left"><em>Feed ID</em></span>
                        <span class="pull-right">Creation Date</span>
                    </div>
                    <div dnd-list="flowRateScope.feeds">
                        <div ng-repeat="feed in flowRateScope.reorderFeeds  | limitTo:8" class="list-group"
                             dnd-draggable="null"
                             ng-click="flowRateCtrl.selectFeed(feed)"
                             dnd-moved="flowRateScope.feeds.splice($index, 1)"
                             dnd-effect-allowed="move"
                             dnd-selected="flowRateScope.feeds = feed"
                             ng-class="{'selected-feed': flowRateScope.feeds === feed}">

                            <div class="list-group-item list-group-item-info" style="height:40px; margin-right:12px">
                                <span class="pull-left"><b>{{feed.entry_id}}</b></span>
                                <span class="pull-right">{{feed.created_at}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>