<!--Menu Section-->
<div ng-controller="HomeController as HomeCtrl">
    <div drag-circular-menu
         angle="30"
         placement="topRight"
         button-config="homeScope.menuConfig"
         menu-items="homeScope.menuItems"
         default-open="false"
         onwing-click="HomeCtrl.onWingClick(wing)">
    </div>
</div>

<!--Loading bar-->
<div ng-hide="true" ng-if="flowRateScope.pageLoadingFinished" layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<!--Flow Rate Template-->
<div ng-hide="true" ng-if="flowRateScope.pageLoadingFinished" ng-include="'/app/views/templates/raw-flow-rate-template.html'"></div>

<!--Fixed Scroll Template-->
<div ng-if="true" ng-include="'/app/views/templates/fixed-scroll-template.html'"></div>