<div style="height:100%; overflow:hidden">
    <h4 class="admin-header">Add Sensor</h4>
    <hr />

    <form class="add-data-form" name="addSensorForm" novalidate ng-submit="AdminCtrl.addSensor(addSensorForm.$valid)">
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Name</label>
                <input type="text" name="name" ng-model="adminScope.newSensor.name" required minlength="1" maxlength="100">
                <div ng-messages="addSensorForm.name.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength']">
                        You must enter a valid name
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Physical Address</label>
                <input type="text" name="physicalAddress" ng-model="adminScope.newSensor.physicalAddress">
            </md-input-container>
        </div>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Description</label>
            <textarea name="description" rows="3" ng-model="adminScope.newSensor.description" required minlength="1" maxlength="100"></textarea>
            <div ng-messages="addSensorForm.description.$error" role="alert">
                <div ng-message-exp="['required', 'minlength', 'maxlength']">
                    You must enter a valid description
                </div>
            </div>
        </md-input-container>


        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Latitude</label>
                <input type="number" name="latitude" ng-model="adminScope.newSensor.latitude">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Longitude</label>
                <input type="number" name="longitude" ng-model="adminScope.newSensor.longitude">
            </md-input-container>
            <!--<md-input-container class="md-block" flex-gt-sm>
                <label>Status</label>
                <md-switch class="md-primary" name="special" ng-model="adminScope.newSensor.status">
                    Sensor is on
                </md-switch>
            </md-input-container>-->
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Installed By</label>
                <input type="text" name="installedBy" ng-model="adminScope.newSensor.installedBy">
            </md-input-container>

            <md-input-container>
                <label>Installed On</label>
                <md-datepicker md-open-on-focus ng-model="adminScope.newSensor.installedOn"></md-datepicker>
            </md-input-container>
        </div>

        <md-button type="submit" class="md-raised md-accent" style="float:right">
            Submit
        </md-button>
    </form>
</div>