<div class="container" style="height:100%">
    <h4 class="animated fadeInRight" style="text-align: center; margin: 10px 0px 0px 0px;">Edit users</h4>
    <hr />

    <div layout="row" style="height:100%">
        <div flex="40" style="margin-right: 52px; background: #edf5f1;">
            <div class="sensor-panel-top">
                <div class="address-box">
                    <md-input-container class="md-block" style="margin:12px;">
                        <label style="padding-top: 5px;color:#e64a19;">Search users</label>
                        <input type="text" ng-model="nameFilter" aria-label="Search Users">
                    </md-input-container>
                </div>

                <md-button ng-click="nameFilter = ''" class="md-icon-button md-accent current-location-button" aria-label="Clear Name Search">
                    <i class="material-icons">clear_all</i>
                </md-button>
            </div>

            <md-list flex class="sensors-list">
                <md-list-item ng-repeat="user in adminScope.users" class="md-2-line">
                    <img src="/app/images/mountain_river.jpg" class="md-avatar" alt="" />
                    <div class="md-list-item-text" layout="column">
                        <h3>Denis Sigei </h3>
                        <h4>dennis.sigei@gmail.com</h4>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
                <md-list-item  class="md-2-line">
                    <img src="/app/images/mountain_river.jpg" class="md-avatar" alt="" />
                    <div class="md-list-item-text" layout="column">
                        <h3>Denis Sigei </h3>
                        <h4>dennis.sigei@gmail.com</h4>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <img src="/app/images/mountain_river.jpg" class="md-avatar" alt="" />
                    <div class="md-list-item-text" layout="column">
                        <h3>Denis Sigei </h3>
                        <h4>dennis.sigei@gmail.com</h4>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
                <md-list-item  class="md-2-line">
                    <img src="/app/images/mountain_river.jpg" class="md-avatar" alt="" />
                    <div class="md-list-item-text" layout="column">
                        <h3>Denis Sigei </h3>
                        <h4>dennis.sigei@gmail.com</h4>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>

        </div>

        <form flex="60" name="addUserForm" novalidate ng-submit="AdminCtrl.addUser(addUserForm.$valid)">
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>First name</label>
                    <input type="text" name="firstName" ng-model="adminScope.newUser.firstName" required ng-minlength="1" ng-required="true">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Last name</label>
                    <input type="text" name="lastName" ng-model="adminScope.newUser.lastName" required ng-minlength="1" ng-required="true">
                </md-input-container>
            </div>

            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Email</label>
                    <input type="email" name="email" ng-model="adminScope.newUser.email" required minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">
                    <div ng-messages="addUserForm.email.$error" role="alert">
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                            Your email must be between 10 and 100 characters long and look like an e-mail address.
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Phone</label>
                    <input type="tel" name="phone" ng-model="adminScope.newUser.phone" required minlength="9" maxlength="15">
                    <div ng-messages="addUserForm.phone.$error" role="alert">
                        <div ng-message-exp="['required', 'minlength', 'maxlength']">
                            Your phone number must be between 9 and 15 characters long and look like an phone number.
                        </div>
                    </div>
                </md-input-container>
            </div>

            <md-input-container class="md-block" flex-gt-sm>
                <label>User Role</label>
                <md-select name="userRole"
                           ng-model="adminScope.newUser.userRole"
                           required>
                    <md-option ng-value="role.value" ng-repeat="role in adminScope.userRoles track by $index">
                        <span>{{role.role}}</span>
                    </md-option>
                </md-select>
                <div ng-messages="addUserForm.userRole.$error" role="alert">
                    <div ng-message-exp="['required']">
                        You must select a user role
                    </div>
                </div>
            </md-input-container>

            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Password</label>
                    <input type="password" name="password" ng-model="adminScope.newUser.password" required minlength="5">
                    <div ng-messages="addUserForm.password.$error" role="alert">
                        <div ng-message-exp="['required', 'minlength']">
                            A valid password of more than 5 characters is required
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Confirm Password</label>
                    <input type="password" name="confirmPassword" ng-model="adminScope.newUser.confirmPassword" required minlength="5">
                    <!--<div ng-messages="addUserForm.confirmPassword.$error" role="alert">
                        <div ng-message="AdminCtrl.doPasswordsMatch(addUserForm.password, addUserForm.confirmPassword)">The passwords you entered do not match</div>
                    </div>-->
                </md-input-container>
            </div>

            <br />
            <md-button type="submit" class="md-raised md-primary btn-lg btn-submit" style="float:right">
                Submit
            </md-button>
        </form>
    </div>
</div>
