<div class="full-size">
    <div class="full-view-map" id="locationMap"></div>

    <div ng-show="isShowSearchBar" class="">
        <label for="meetingLocation" class="col-lg-1 col-md-1 col-sm-12">Location: </label>

        <div class="col-lg-8 col-md-8 col-sm-12" id="locationSearchBoxContainer">
            <input type="text"
                   size="80"
                   id="googleMapSearchBox"
                   class="ie-single-line te-input-text googleMapSearchBox"
                   name="currentLocation"
                   placeholder="Add an address or postcode"
                   ng-model="currentLocation" />
        </div>

        <button class="btn btn-default col-lg-2 col-md-2 col-sm-12" ng-click="getUserLocationClick()" style="background-color:#00a550; margin-left:10px;">Get User Location</button>
    </div>

</div>