<div class="mapcanvas" id="locationMap" style="z-index:0"></div>

<div class="left-pane col-lg-3 col-md-5 col-sm-6 pull-left">
    <div ng-if="!showSensorDetails" class="sensors-holder">
        <md-subheader class="">Sensors at this location ({{sensors.length}})</md-subheader>
        <md-list flex style="height: calc(100% - 46px); overflow: auto;">
            <md-list-item ng-init="sensor.status=true" ng-repeat="sensor in sensors" class="md-3-line" ng-click="displaySensorClick(sensor);">
                <img src="/app/images/sensor-round.png" class="md-avatar" alt="item.who" />
                <div class="md-list-item-text" layout="column">
                    <h3>{{sensor.physicalAddress}}</h3>
                    <h4>{{sensor.installedBy}}</h4>
                    <p>{{sensor.installedOn}}</p>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </div>

    <div ng-if="showSensorDetails" class="sensors-holder">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <md-button ng-click="displaySensorClick(false);" style="top:34px;" class="md-fab md-accent md-hue-2" aria-label="Back to sensors list">
                    <md-tooltip>Back</md-tooltip>
                    <i class="material-icons" style="vertical-align: middle; margin-bottom: 5px;">arrow_back</i>
                </md-button>
                <label class="md-title" style="color: white; margin-top:20px; margin-left:30px">Sensor Details</label>
            </div>
        </md-toolbar>
        <br />
        <div style="padding:20px; overflow: inherit; height: calc(100% - 89px);">
            <div>
                <label class="md-body-1">Sensor ID: </label>
                <label class="md-body-2">{{selectedSensor.id}}</label>
                <br />
            </div>
            <div>
                <label class="md-body-1">Status</label>
                <label class="md-body-2">{{selectedSensor.status? "ON" : "OFF"}}</label>
                <i ng-if="selectedSensor.status" class="material-icons" style="color:green">check_circle</i>
                <i ng-if="!selectedSensor.status" class="material-icons" style="color:red">error</i>
                <br />
            </div>
            <div>
                <label class="md-body-1">Sensor location: </label>
                <label class="md-body-2">{{selectedSensor.physicalAddress}}</label>
                <br />
            </div>

            <div>
                <label class="md-body-1">Installed by: </label>
                <label class="md-body-2">{{selectedSensor.installedBy}}</label>
                <br />
            </div>

            <div>
                <label class="md-body-1">Installed On:</label>
                <label class="md-body-2">{{selectedSensor.installedOn}}</label>
                <br />
            </div>
        </div>
    </div>
</div>


<div class="col-lg-3 col-md-5 col-sm-6 pull-left">
    <div class="search-container">
        <div class="address-box">
            <label style="margin-left:4px; margin-top: 8px;color:#e64a19">Search location</label>
            <md-input-container class="md-icon-float md-block" style="margin:0px">
                <input ng-model="currentLocation" type="text" id="googleMapSearchBox" aria-label="Search Sensors">
            </md-input-container>
        </div>

        <md-button ng-click="getUserLocationClick()" class="md-icon-button md-accent current-location-button" aria-label="My Location">
            <md-tooltip>My location</md-tooltip>
            <i class="material-icons">my_location</i>
        </md-button>
    </div>
</div>