html, body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    color: #212529;
    height: 100%;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.navbar-brand {
    color: #1abc9c !important;
}

.full-size {
    height: 100%;
    width: 100%;
}

.main-container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.mapcanvas {
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.fixed-bar {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999999;
    width: 100%;
}

.top-bar {
    top: 0;
    height: 150px;
}

.bottom-bar {
    bottom: 0;
    height: 100px;
}

.search-panel {
    min-width: 0px;
    width: auto;
    right: 0;
    left: auto;
    top: 0;
    height: 65px;
    background-color: yellow;
}

.left-pane {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px 0px rgba(240, 232, 232, 0.59);
}

.tab-label{
    margin-left: 20px;
    margin-right: 20px;
}

.tab-label > i, .tab-label > span {
    vertical-align:middle;
}
.tab-label > i {
    margin:0px 3px;
}

md-tab-body{
    padding:5px;
}

.no-left-padding {
    padding-left: 0px;
}

.no-right-padding {
    padding-right: 0px;
}

.btn-lg {
    padding-left: 30px;
    padding-right: 30px;
}

.sales-header {
    font-size: x-large;
    font-weight: 700;
}

.date-header {
    float: right;
    clear: left;
    color: gray;
}

.companyDetail {
    min-width: 200px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
}

.companiesList {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 200px;
    width: 80%;
    overflow: auto;
    list-style: none;
}

.animate-repeat {
    line-height: 35px;
    list-style: none;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 10px;
}

    .animate-repeat.ng-move,
    .animate-repeat.ng-enter,
    .animate-repeat.ng-leave {
        -webkit-transition: all linear 0.5s;
        transition: all linear 0.5s;
    }

        .animate-repeat.ng-leave.ng-leave-active,
        .animate-repeat.ng-move,
        .animate-repeat.ng-enter {
            opacity: 0;
            max-height: 0;
        }

            .animate-repeat.ng-leave,
            .animate-repeat.ng-move.ng-move-active,
            .animate-repeat.ng-enter.ng-enter-active {
                opacity: 1;
                max-height: 40px;
            }

.radio-inline-sort {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    vertical-align: middle;
    cursor: pointer;
}

.lineOnHeader {
    width: fit-content;
    margin: 12px;
    padding-left: 5px;
    padding-right: 10px;
    margin-top: -30px;
    background-color: white;
}

hr {
    border-top: 1px solid #1abc9c;
}

label {
    font-weight: 500;
    color: inherit;
    font-size: 14px;
}

.form-control {
    font-size: 13px;
}
