/*Sticky Scrolling*/
.followMeBar {
    background-color: crimson;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
    color: #fff;
}

    .followMeBar.fixed {
        position: fixed;
        top: 0;
        width: 100%;
        box-sizing: border-box;
        z-index: 0;
    }

        .followMeBar.fixed.absolute {
            position: absolute;
        }

/* Reset some list defaults for all lists */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-list{
    background-color: aquamarine;
    overflow: auto !important;
}
/* The main container */
#main-list {
    height: 350px;
    overflow: hidden;
    position: relative;
}

.feedWrapper {
    height: 350px;
}
    /* The main list */
    #main-list > .feedWrapper {
        height: 100%;
        overflow: auto;
    }

        /* Section headers, defined through "headlineSelector" */
        #main-list > .feedWrapper > .feedItem > .followMeBar {
            display: block;
            width: 100%;
        }

        /* Section headers when "sticky", defined through "stickyClass" */
        #main-list > .feedWrapper > .feedItem.sticky > .followMeBar {
            position: absolute;
            top: 0;
        }
