/*Sticky Scrolling*/
.followMeBar {
    background-color: crimson;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
    color: #fff;
}

    .followMeBar.fixed {
        position: fixed;
        top: 0;
        width: 100%;
        box-sizing: border-box;
        z-index: 0;
    }

        .followMeBar.fixed.absolute {
            position: absolute;
        }

#main-list {
    height: 350px;
    overflow: hidden;
    position: relative;
}
/* Section headers, defined through "headlineSelector" */
#main-list > .feedItem > .followMeBar {
    display: block;
    width: 100%;
}
/* Section headers when "sticky", defined through "stickyClass" */
#main-list > .feedItem.sticky > .followMeBar {
    position: absolute;
    top: 0;
}
