
<div layout="row">
    <h5>Select payment mode: </h5>
    <md-radio-group layout="row" style="margin-top:5px; margin-left:40px;margin">
        <md-radio-button value="Apple" class="md-primary">Cash</md-radio-button>
        <md-radio-button value="Banana" class="md-primary"> Checque </md-radio-button>
        <md-radio-button value="Mango" class="md-primary">Other</md-radio-button>
    </md-radio-group>

</div>
<br />

    <h5>Add new order item:</h5>
    <br />

    <form>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="description" class="col-form-label">Description</label>
                <input type="text" class="form-control" id="description"
                       ng-model="couchDbScope.newOrderItem.description"
                       placeholder="Description">
            </div>
            <div class="form-group col-md-3">
                <label for="unitPrice" class="col-form-label">Unit Price</label>
                <input type="text" class="span2 form-control" id="unitPrice"
                       ng-model="couchDbScope.newOrderItem.unitPrice"
                       placeholder="Unit Price">
            </div>
            <div class="form-group col-md-3">
                <label for="quantity" class="col-form-label">Quantity</label>
                <input type="text" class="form-control" id="quantity"
                       ng-model="couchDbScope.newOrderItem.quantity"
                       placeholder="Quantity">
            </div>
            <div class="form-group col-md-3">
                <label class="col-form-label" style="color:transparent">Add</label>
                <br />
                <button ng-click="CouchCtrl.addNewOrderItem()" type="submit" class="btn btn-outline-success">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>Add</span>
                </button>
            </div>
        </div>
        <br />
        <br />
        <br />
    </form>

    <hr />
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Description</th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tr ng-repeat="orderItem in couchDbScope.orderFormData.orderItems track by $index"
                ng-init="orderItem.ItemNumber = $index+1">
                <td>{{orderItem.ItemNumber}}</td>
                <td>{{orderItem.description}}</td>
                <td>{{orderItem.unitPrice}}</td>
                <td>{{orderItem.quantity}}</td>
                <td>{{orderItem.totalPrice}}</td>
            </tr>
        </table>
    </div>

    <button ng-click="CouchCtrl.submitOrderForm()" type="submit" class="btn btn-outline-success btn-lg">
        <span>Submit Order </span>
        <span class="glyphicon glyphicon-send"></span>
    </button>
