<div class="container">


        <span class="sales-header">Sales Report Form</span>
        <span class="date-header">Date: {{couchDbScope.salesFormData.dateToday}}</span>


    <hr />
    <div>
        <form>
            <div class="form-row">
                <div class="form-group col-md-6 no-left-padding">
                    <label for="companyName" class="col-form-label">Company name</label>
                    <input  type="text" class="form-control" id="companyName" ng-model="couchDbScope.salesFormData.companyName" placeholder="Company name">
                </div>
                <div class="form-group col-md-6 no-right-padding">
                    <label for="location" class="col-form-label">Location</label>
                    <input type="text" class="form-control" id="location" ng-model="couchDbScope.salesFormData.location" placeholder="Location">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 no-left-padding">
                    <label for="contactPerson" class="col-form-label">Contact person</label>
                    <input type="text" class="form-control" id="contactPerson" ng-model="couchDbScope.salesFormData.contactPerson" placeholder="Contact person">
                </div>
                <div class="form-group col-md-6 no-right-padding">
                    <label for="phoneNumber" class="col-form-label">Phone number</label>
                    <input type="tel" class="form-control" id="phoneNumber" ng-model="couchDbScope.salesFormData.phoneNumber" placeholder="Phone number">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 no-left-padding">
                    <label for="salonOwner" class="col-form-label">Salon owner</label>
                    <input type="text" class="form-control" id="salonOwner" ng-model="couchDbScope.salesFormData.salonOwner" placeholder="Salon owner name">
                </div>
                <div class="form-group col-md-6 no-right-padding">
                    <label for="salesPerson" class="col-form-label">Sales person</label>
                    <input type="text" class="form-control" id="salesPerson" ng-model="couchDbScope.salesFormData.salesPerson" placeholder="Sales person name">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 no-left-padding">
                    <label for="brancesNumber" class="col-form-label">Branches number</label>
                    <input type="number" class="form-control" id="brancesNumber" ng-model="couchDbScope.salesFormData.brancesNumber" placeholder="How many brances does your company have?">
                </div>
                <div class="form-group col-md-6 no-right-padding">
                    <label for="salonsEmployees" class="col-form-label">Salons employees</label>
                    <input type="number" class="form-control" id="salonsEmployees" ng-model="couchDbScope.salesFormData.salonsEmployees" placeholder="How many employees do you have in your salons?">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-3 no-left-padding">
                    <label class="col-form-label">How many customers do you serve: </label>
                </div>
                <div class="form-group col-md-3">
                    <label for="dayCustomers" class="col-form-label">In a day</label>
                    <input type="number" class="form-control" id="dayCustomers" ng-model="couchDbScope.salesFormData.dayCustomers" placeholder="Customers you serve in a day">
                </div>
                <div class="form-group col-md-3">
                    <label for="weekdayCustomers" class="col-form-label">On week days</label>
                    <input type="number" class="form-control" id="weekdayCustomers" ng-model="couchDbScope.salesFormData.weekdayCustomers" placeholder="Customers you serve on week days">
                </div>
                <div class="form-group col-md-3">
                    <label for="weekendCustomers" class="col-form-label">On weekends</label>
                    <input type="number" class="form-control" id="weekendCustomers" ng-model="couchDbScope.salesFormData.weekendCustomers" placeholder="Customers you serve on weekends">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6 no-left-padding">
                    <label for="gelCharges" class="col-form-label">Charges for gels</label>
                    <input type="number" class="form-control" id="gelCharges" ng-model="couchDbScope.salesFormData.gelCharges" placeholder="How much do you charge for gels?">
                </div>
                <div class="form-group col-md-6 no-right-padding">
                    <label for="gelMarketPrice" class="col-form-label">Market price for gels</label>
                    <input type="number" class="form-control" id="gelMarketPrice" ng-model="couchDbScope.salesFormData.gelMarketPrice" placeholder="What is the price of gels in the market?">
                </div>
            </div>
            <div class="form-group">
                <label for="machineWorth" class="col-form-label">Do you find our machine worth the price?</label>
                <textarea class="form-control" id="machineWorth" rows="3" ng-model="couchDbScope.salesFormData.machineWorth" placeholder="After explaining how our machine works, how do you find it? Is it worth the price?"></textarea>
            </div>
            <div class="form-group">
                <label for="machineBenefit" class="col-form-label">Potential benefits of our machine to your business?</label>
                <textarea class="form-control" id="machineBenefit" rows="3" ng-model="couchDbScope.salesFormData.machineBenefit" placeholder="In you own view, how do you find our machine will be beneficial to your business?"></textarea>
            </div>
            <div class="form-group">
                <label for="machineInterest" class="col-form-label">When would you like us to have a demo of our machine?</label>
                <textarea class="form-control" id="machineInterest" rows="3" ng-model="couchDbScope.salesFormData.salesFormData.machineInterest" placeholder="If interested in the machine when would you like us to have demonstrations?"></textarea>
            </div>
            <br />
            <button ng-click="CouchCtrl.submitSalesData()" type="submit" class="btn btn-primary btn-lg">Save</button>
            <br />
            <br />

        </form>
    </div>
</div>